In [ ]:
# Importing necessary Libraries

In [1]:
import pandas as pd
import datetime
import time
from datetime import date
import numpy as np
import math
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt
from sklearn import linear_model, decomposition, datasets
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import precision_recall_fscore_support
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, classification_report, confusion_matrix

## Creating a technical Dataset

In [177]:
spy = pd.read_csv("SPY.csv")

In [178]:
sp = spy[:310]

In [179]:
sp = sp[["Date","Close","Volume"]]

#### Creating rolling means and momentum variable

In [180]:
# Creating Momentum variable as Mmtm
sp["Mmtm"] = (sp["Close"]-sp["Close"].shift()) * sp["Volume"]

In [181]:
sp["Log_change"] = np.log(sp.Close) - np.log(sp.Close.shift(1))
sp["3sma"] = pd.rolling_mean(sp["Close"],3)
sp["7sma"] = pd.rolling_mean(sp["Close"],7)
sp["12sma"] = pd.rolling_mean(sp["Close"],12)
sp["20sma"] = pd.rolling_mean(sp["Close"],20)
sp["30sma"] = pd.rolling_mean(sp["Close"],30)
sp["50sma"] = pd.rolling_mean(sp["Close"],50)

C:\Users\Krishna\Anaconda2\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: pd.rolling_mean is deprecated for Series and will be removed in a future version, replace with
	Series.rolling(window=3,center=False).mean()

C:\Users\Krishna\Anaconda2\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: pd.rolling_mean is deprecated for Series and will be removed in a future version, replace with
	Series.rolling(window=7,center=False).mean()
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Krishna\Anaconda2\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: pd.rolling_mean is deprecated for Series and will be removed in a future version, replace with
	Series.rolling(window=12,center=False).mean()
  after removing the cwd from sys.path.
C:\Users\Krishna\Anaconda2\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: pd.rolling_mean is deprecated for Series and will be removed in a future version, replace with
	Series.rolling(window=20,center=False).mean()
  """
C:\Users\Krishna\Anaconda2\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: pd.rolling_mean is deprecated for Series and will be removed in a future version, replace with
	Series.rolling(window=30,center=False).mean()

C:\Users\Krishna\Anaconda2\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: pd.rolling_mean is deprecated for Series and will be removed in a future version, replace with
	Series.rolling(window=50,center=False).mean()
  import sys

In [343]:
sp1 = sp.drop("Volume",1)

In [344]:
sp1 = sp1.fillna(0)

In [345]:
sp1.head()

,Date,Close,Mmtm,Log_change,3sma,7sma,12sma,20sma,30sma,50sma
0,1990-01-01,329.079987,0.000000e+00,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
1,1990-02-01,331.890015,8.323219e+09,0.008503,0.000000,0.0,0.0,0.0,0.0,0.0
2,1990-03-01,339.940002,2.643036e+10,0.023966,333.636668,0.0,0.0,0.0,0.0,0.0
3,1990-04-01,330.799988,-2.560319e+10,-0.027255,334.210002,0.0,0.0,0.0,0.0,0.0
4,1990-05-01,361.230011,1.094471e+11,0.088001,343.990000,0.0,0.0,0.0,0.0,0.0

## Preparing Fundamental dataset

In [204]:
fund = pd.read_csv("f1.csv")

In [205]:
#dvrate = Annualized dividend rate
#EPS = Earnings per Share
#Prcrcm =  Closing Price

In [206]:
fund = fund[["dvrate","epsx12","prccm","datadate"]]

In [207]:
fund["PE"] = fund["prccm"]/fund["epsx12"]

In [208]:
fund = fund[["dvrate","datadate","PE"]]

In [210]:
fund["Date"] = fund['datadate'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d'))

In [328]:
fund = fund[["dvrate","PE"]]

In [329]:
fund.head()

   dvrate         PE
0   11.40  14.389777
1   11.40  14.512655
2   11.04  15.687120
3   11.04  15.265335
4   11.04  16.669589

## Creaing Final Dataset

In [346]:
df = sp1.copy()

In [347]:
f2 = fund.copy()

In [348]:
df = df.join(f2) #DF is the final dataset

In [349]:
df["Pred"] = np.where(df["Close"]>df["Close"].shift(),1,0)

In [350]:
df.head()

,Date,Close,Mmtm,Log_change,3sma,7sma,12sma,20sma,30sma,50sma,dvrate,PE,Pred
0,1990-01-01,329.079987,0.000000e+00,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,11.40,14.389777,0
1,1990-02-01,331.890015,8.323219e+09,0.008503,0.000000,0.0,0.0,0.0,0.0,0.0,11.40,14.512655,1
2,1990-03-01,339.940002,2.643036e+10,0.023966,333.636668,0.0,0.0,0.0,0.0,0.0,11.04,15.687120,1
3,1990-04-01,330.799988,-2.560319e+10,-0.027255,334.210002,0.0,0.0,0.0,0.0,0.0,11.04,15.265335,0
4,1990-05-01,361.230011,1.094471e+11,0.088001,343.990000,0.0,0.0,0.0,0.0,0.0,11.04,16.669589,1

### Data Manipulation

In [353]:
# Our goal is to predict the movement of the S&P 500 using the previous months data
# We have to predict the Febraury movement using the January Data
# So Our target variable is 1 step ahead of the X-Variables
# To Compensate we shift our target variable one step back wards

In [354]:
df["Pred"] = df["Pred"].shift(-1)

In [355]:
df = df.fillna(0)

### Creating Final X- Variables Data and Y-Variables

In [356]:
#Dataset of Dates
df_date = df["Date"]

In [357]:
# Dataset Of X-Variables
df_x = df[["Mmtm","Log_change","3sma","7sma","12sma","20sma","30sma","50sma","dvrate","PE"]]

In [358]:
#Dataset Of Y-variables
df_y = df["Pred"]

### Normalizing data

In [359]:
#This data is Panel data.So, the terms like Close and Volume will consistetly increase with time.
#So it doesn't make any sense to Normalize the data
#So instead we take the Log differntiation for some variables to solve this.

In [360]:
df_x["Mmtm"] = np.log(df_x.Mmtm) - np.log(df_x.Mmtm.shift(1))

C:\Users\Krishna\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in log
  """Entry point for launching an IPython kernel.
C:\Users\Krishna\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in log
  """Entry point for launching an IPython kernel.
C:\Users\Krishna\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [361]:
df_x = df_x.replace(np.inf, np.nan)

In [362]:
df_x=df_x.fillna(0)

In [363]:
# Our final set of X-Variables
df_x.describe()

,Mmtm,Log_change,3sma,7sma,12sma,20sma,30sma,50sma,dvrate,PE
count,310.000000,310.000000,310.000000,310.000000,310.000000,310.000000,310.000000,310.000000,310.000000,310.000000
mean,-0.011585,0.005947,1058.008233,1042.762674,1023.393521,992.773658,955.768057,888.212613,20.579329,24.276476
std,0.977308,0.042307,457.660834,461.132681,463.603778,466.091843,469.737262,484.147879,8.270678,15.729405
min,-5.706200,-0.185636,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,-0.017958,657.136663,648.257856,620.541039,571.896251,534.865167,497.384400,14.410000,17.455375
50%,0.000000,0.010527,1116.134989,1111.685695,1110.549571,1093.481490,1088.686492,1115.752293,16.728000,20.016221
75%,0.000000,0.032781,1344.627513,1329.030714,1326.435616,1311.699739,1285.688908,1231.342845,25.940000,25.872627
max,5.881806,0.105789,2091.446696,2075.318569,2053.950002,2009.486505,1915.991671,1703.732803,43.160000,124.663491

## Building our Models

### Splitting Data into Training and testing data

In [364]:
X_train, X_test, y_train, y_test = train_test_split(df_x, df_y, test_size=0.3, random_state=42)

### Logistics Regression Model

In [365]:
lgtr = linear_model.LogisticRegression(penalty= "l1")

In [366]:
lgtr = lgtr.fit(X_train,y_train)

In [367]:
y_pred = lgtr.predict(X_test)

In [368]:
print "Accuracy: ",accuracy_score(y_test, y_pred)
print "Precision: ",precision_score(y_test, y_pred)
print "Recall: ",recall_score(y_test, y_pred)

Accuracy:  0.688172043011
Precision:  0.686046511628
Recall:  0.967213114754